.background{
    background-image: url(background.jpg);
    background-attachment: fixed;  
    background-size: cover;
    background-position: center;
}
.container{
    box-sizing: border-box;
    margin: auto;
    padding: 8px;
    max-width: 652px;
    height: 454px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 8px;
}
.logo{
    width: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.title{
    text-align: center;
    color:rgb(30, 255, 0);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    font-size: large;
}
.space-for-button{
    padding-bottom: 12px;
    padding-top: 6px;
    background-color: rgb(30, 255, 0);
    display: inline-block;
    margin: 6px;
    width: 600px;
    height: 10px;
    padding-left: 26px;
}
.buttons{
    margin: 140px;
    padding: 3px;

}
.users1{
    color: white;
    margin: 5px;
    font-size: large;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
}
.users2{
    color: white;
    margin: 5px;
    font-size: large;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
}
.users3{
    color: white;
    margin: 5px;
    font-size: large;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
}
.street-charge{
    color: white;
    margin: 0;
}
.charge1{
    padding: 8px;
    background-color: rgb(255, 166, 0);
    max-width: 180px;
    box-sizing: border-box;
    border-radius: 2px;
}
.charge2{
    padding: 8px;
    background-color: rgb(30, 255, 0);
    max-width: 360px;
    box-sizing: border-box;
    border-radius: 2px;
}
.charge3{
    padding: 8px;
    background-color: rgb(255, 0, 0);
    max-width: 90px;
    box-sizing: border-box;
    border-radius: 2px;
}
.b1{
    text-align: center;
    width: 50px;
    height: 14px;
    font-size: 10px;
}
.b2{
    text-align: center;
    width: 113px;
    height: 14px;
    font-size: 10px;
}
.b3{
    text-align: center;
    width: 73px;
    height: 14px;
    font-size: 10px;
}
main{
    padding-left:10px;
}